# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

# Virtual Environment
.venv/
# Environment Variables
.env
# Environment Variables
**/.env


# macOS
.DS_Store

# VSCode
.vscode/

# Frontend
/frontend/node_modules